@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* .text-balance { */
  /*   text-wrap: balance; */
  /* } */

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* ::-webkit-scrollbar { */
/*   display: none; */
/*   scrollbar-width: none; */
/*   -ms-overflow-style: none; */
/* } */

:root {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --font-thai: "Noto Sans Thai", sans-serif;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* .grid-pattern { */
/*   background-size: 5vh 5vh; */
/*   background-image: linear-gradient(to right, #444444 2px, transparent 2px), */
/*     linear-gradient(to bottom, #444444 2px, transparent 2px); */
/*   background-position: center; */
/* } */

body {
  font-family: var(--font-sans);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden;
}
