@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* .text-balance { */
  /*   text-wrap: balance; */
  /* } */

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* ::-webkit-scrollbar { */
/*   display: none; */
/*   scrollbar-width: none; */
/*   -ms-overflow-style: none; */
/* } */

:root {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --font-thai: "Noto Sans Thai", sans-serif;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  font-family: var(--font-sans);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-card {
  opacity: 0;
  animation-fill-mode: both;
}
